* {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.text-shadow {
    font-style: italic;
    text-decoration: underline;
    font-family: 'Times New Roman', Times, serif;
}

.text-underline {
    text-decoration: underline;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
}

.line-height {
    font-family:'Times New Roman', Times, serif;
    font-weight: 100;
}

.letter-spacing {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 5px;
}

.center-align line-through {
    text-align: center;
    text-decoration: line-through;
}

