.gridItem {
    min-width: 20px;
    border: 2px black solid;
    background-color: lightblue;
    text-align: center;
    justify-content: center;
    min-height: 100px;
}


.container {
    background-color: yellowgreen;
}

.gridContainer {
    display: grid;
    /*grid-template-columns: 100px 200px 250px; 
    grid-template-columns: auto auto auto;
    grid-template-rows: 150 px 200px 300px */
    /* grid-template: 200px 200px 200px/ auto auto auto; /*shortcut instead of typing all 3 of the above lines*/
    grid-template-areas: 
        'header header . .'
        'side . . .'
        'side . . .';
    /* justify-content: center; < option */
    justify-content:baseline; /* leave as baseline which is default */
    /*justify-content: space-around; <- more options */
    /* align-items: center; */
    column-gap: 10px;
    row-gap: 20px; 

}

.gridItem2 {
    /* grid-area: 1 / span 3 ; */
    grid-area: 1 /2/ span 3 / span 2;
    /* row/column/row/column */

}

.gridItem1 {
    grid-area: header;
}